html {
    background-image: url(../../resources/img/fondo.jpg);
    color: white;
}
@font-face {
    font-family: 'ethnocentric';
    src: url('../fonts/Ethnocentric-Regular.otf');
}

@font-face {
    font-family: 'hack-regular';
    src: url('../fonts/Hack-Regular.ttf');
}
a{
    text-decoration: none;
    color: white;
}
h2, h1{
    font-family: ethnocentric;
    text-shadow: 2px 2px 5px rgb(151, 151, 228);
}
header{
    display:flex;
    justify-content: space-around;
    background: linear-gradient(rgb(89, 56, 133),  rgb(18, 2, 39));
    position: sticky;
    top: 0;
}
header div{
    display: flex;
    font-family: ethnocentric;
    align-items: center;
}
header div img{
    width: 4rem;
}
nav{
    display:flex;
    justify-content: space-between;
    width: 32rem;
    font-family: ethnocentric;
    align-items: center;
}
nav a{
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 1rem;
}
nav a:hover{
    background-color: rgb(49, 0, 65);
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.style_seccion{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 5px;
    width: 90%;
}
article{
    font-family: hack-regular;
}
#lanzamientos{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem 1rem;
    grid-template-columns: repeat(5, 1fr);
}
#lanzamientos a{
    height: 100%;
    display: block;
}
#lanzamientos article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    padding:0.4rem;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    height: 100%;
}
#lanzamientos article img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
#lanzamientos article:hover{
    transform: scale(95%);
}
#destacados{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
#destacados a{
    background-color: black;
    border-radius: 5px;
    padding: 1rem;
}
#destacados a:hover{
    background-color: rgb(8, 0, 26);
}
#destacados a article{
    display: flex;
    gap: 1rem;
    justify-content:flex-start;
    flex-wrap: wrap;
}
#destacados a article img{
    height: 6rem;
}
#destacados a article div{
    display: block;
}
#list_aside{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    border-radius: 5px;
    width: 90%;
    font-family: hack-regular;
}
#list_aside article{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside{
    background-color: rgba(133, 119, 134, 0.5);
    padding: 1rem;
    width: 18rem;
}
aside img{
    width: 100%;
}
footer{
    text-align: center;
    padding: 1rem;
}
#detalle{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
#detalle a{
    text-decoration: underline;
}
#detalle a:hover{
    color:blueviolet;
}
#detalle_artistas h3{
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgb(216, 59, 255);
}
#detalle_artistas{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
#detalle_artistas img{
    width: 30rem;
    height: 30rem;
}
#detalle_artistas article{
    display: flex;
    background-color: rgba(8, 0, 26, 0.7);
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
}
#detalle_artistas article div{
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}
#detalle_artistas article div p{
    width: 100rem;
}
#detalle_artistas a:hover{
    text-decoration: underline;
}
#detalle_album{
    display:flex;
    flex-direction: column;
    row-gap: 1rem;
}
#detalle_album h3{
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgb(216, 59, 255);
}
#detalle_album article{
    display: flex;
    background-color: rgba(8, 0, 26, 0.7);
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
}
#detalle_album article div{
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    padding: 1rem;
}
#detalle_album article div p{
    width: 50%;
}
#festivales{
    display:flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
    align-items: center;
}
#festivales h2{
    text-align: center;
}
#festivales a{
    text-decoration: underline;
}
#festivales a:hover{
    color: blueviolet;
}

#main_festival article{
    display: flex;
    flex-direction: column;
    background-color: rgba(8, 0, 26, 0.7);
    padding: 1rem;
    border-radius: 5px;
}
#main_festival div{
    display:flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: space-around;
}
#extras{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(8, 0, 26, 0.4);
    padding: 1rem;
}
#extras h3{
    text-shadow: 2px 2px 5px rgb(151, 151, 228);
}
#extras div{
    display: flex;
    column-gap: 5rem;
    justify-content: space-between;
}
#extras div article{
    width: 15rem;
    background-color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
#extras img{
    width: 13rem;
}
form {
    background-color: rgba(8, 0, 26, 0.4);
    padding: 5rem;
    border-radius: 5px;
    width:50%;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: hack-regular;
}

fieldset {
    border: 1px solid white;
    padding: 1rem;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
}

input, select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="pronouns"],
select {
    width: 95%;
}

input[type="submit"] {
    background: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: ethnocentric;
}

input[type="submit"]:hover {
   background: rgb(49, 0, 65);
}